<%= flash[:notice] %>
<%= flash[:alert] %>

<%= render 'tab' %>
<h2>
  로고 관리
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        촬영일
      </th>
      <th>
        삭제
      </th>
    </tr>
  </thead>
  <tbody>
    <% @logos.each do |logo| %>
      <tr>
        <td>
          <%= link_to logo.created_at.strftime("%Y-%m-%d %H:%M"), admin_logo_path(logo) %>
        </td>
        <td>
          <%= link_to '삭제', logo_path(logo), :method => 'delete', :confirm => '정말 삭제하시겠습니까?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @logos %>
